body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  background-color: white;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white; 
}


.form-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Two rows: auto for input-container, 1fr for section-container */
  padding: 20px;
  width: 100%;
  height: 100vh;
  overflow: auto;
}


.form-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}